.data-table{
    .head-toolbar{
        .vxe-button--wrapper{
            & > .ant-btn {
                margin-right: 10px;
            }
            & > .ant-btn-group {
                margin-right: 10px;
            }
        }
        .headtoolbar-search-form{
            display: inline-block;
           
        }
        
        .tool-btn-setcolumns{
            top: 2px;
            width: 34px;
            height: 34px;
        }
    }
    .head-search-form{
        margin-bottom: 10px;
    }
    
}
.advanced-search-modal{
    .advanced-search-form{
        margin-right:30px;
    }
}
.vxe-header--row{
    .vxe-cell{
        text-align: center;
    }
}

.columns-table .drag-btn {
    cursor: move;
    font-size: 12px;
  }
  .columns-table .vxe-body--row.sortable-ghost,
  .columns-table .vxe-body--row.sortable-chosen {
    background-color: #dfecfb;
  }
.set-columns-modal .ant-modal-body{
    min-height: 500px;
}


.vxe-table .ant-select-disabled{
    border:none;
}

.vxe-tools--wrapper{
    flex-shrink: 0;
    .ant-form-inline{
        .ant-form-item{
            .ant-form-item-label,.data-form-item-title,.ant-form-item-control,.data-form-buttons{
                line-height:32px;
            }
        } 
    }
}

.data-table .vxe-table .vxe-sort--desc-btn{
    bottom: -0.1em;
}