.data-table{
    .head-toolbar{
        .vxe-button--wrapper{
            & > .ant-btn {
                margin-right: 10px;
            }
            & > .ant-btn-group {
                margin-right: 10px;
            }
        }
        .tool-btn-setcolumns{
            // margin-right: 10px;
        }
    }
}
.advanced-search-modal{
    .advanced-search-form{
        margin-right:30px;
    }
}