/*font*/
$opu-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$opu-font-color: rgba(0, 0, 0, 0.65);
$opu-font-size: 14px;
$opu-font-size-medium: 14px;
$opu-font-size-small: 13px;
$opu-font-size-mini: 12px;

/*size*/
$opu-border-radius: 4px;

